coverage==7.6.1
data_providers @ git+https://github.com/FredGH/data_providers.git@0.0.1
dlt[postgres]>=0.3.8
sqlalchemy==2.0.34
sqlalchemy_utils==0.41.2
pandas==2.2.3
psycopg2-binary
psutil==6.1.0
pytest==8.3.3
setuptools==75.3.0
twine==6.0.1
wheel==0.45.1



